.xpathor-tips {
	width: 100%;
	text-align: center;
	background-color: #93DD6E;
	color:#ffffff;
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 99999999;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}

.xpathor-tips-bottom {
	width: 100%;
	text-align: center;
	background-color: #93DD6E;
	color:#ffffff;
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 99999999;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}

.xpathor-selection {
	outline: 2px dashed blue;
	outline-offset: 1px;
	z-index: 99999999;
}

.xpathor-preview {
	background-image: url('chrome-extension://__MSG_@@extension_id__/preview_background.png');	
	background-size: 100% 100%;
	border-radius: 20px;
	padding: 20px;
	padding-left: 50px;
	position: fixed;
	width: 70%;
	font-family: arial;
	font-size: 14px;
	position: fixed;
	top: 10px;
	z-index: 999999999;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s;
}

.xpathor-preview.preview-show {
	visibility: visible;
	opacity: 1;
}

.xpathor-preview-news-header {
	text-align: left;
}

.xpathor-preview-news-title {
	font-size: 2em;
	font-color: black;
	font-weight: bold;
}


.xpathor-preview-news-title:before {
	content: "标题 ";
}

.xpathor-preview-news-source {

}

.xpathor-preview-news-pubdate {

}

.xpahtor-preview-news-nextpage {

}

.xpathor-preview-news-content {

}