.xpathor-tips {
	width: 100%;
	text-align: center;
	background-color: #93DD6E;
	color:#ffffff;
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 99999;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}

.xpathor-tips-bottom {
	width: 100%;
	text-align: center;
	background-color: #93DD6E;
	color:#ffffff;
	font-family:arial;
	font-size:30px;
	font-weight:bold;
	position: fixed;
	left: 0px;
	bottom: 0px;
	z-index: 99999;
	padding-top: 20px;
	padding-bottom: 20px;
	border-radius: 5px;
}

.xpathor-selection {
	outline: 2px dashed blue;
	outline-offset: 1px;
	z-index: 999999;
	background-color: yellow;
}

.xpathor-selection-2 {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	background-color: yellow;
	z-index: 9999999;
	opacity: 0.5;
}

.xpathor-preview {
	background-image: url('chrome-extension://__MSG_@@extension_id__/preview_background.png');	
	background-size: 100% 100%;
	border-radius: 20px;
	padding: 20px;
	padding-left: 50px;
	padding-right: 50px;
	position: fixed;
	width: 70%;
	font-family: sans-serif;
	font-size: 14px;
	position: fixed;
	top: 10px;
	z-index: 99999999;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1s, visibility 1s;
	box-shadow: 5px 5px 2px #888888;
}

.xpathor-preview-block {
	z-index: 99999999 !important;
	background-color: green;
	position: absolute;
	top: 0px
	left: 0px;
	width: 0px;
	height: 0px;
	background: rgba(0, 131, 0, 0.5);
	font-family: Tahoma;
}

.xpathor-preview-block:hover:after {
	content: "" !important;
	position: absolute;
	padding: 0px;
	border: none;
}

.xpathor-preview-news:before {
	content: attr(xpathor_priority);
	left: 30px;
	top: 0px;
	color: black;
	font-family: Tahoma;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	background-color: gold;
	line-height: 18px;
	z-index: 99999999;
}

.xpathor-preview-block-block {
	z-index: 99999999 !important;
	position: relative !important;
}

.xpathor-preview-block-div {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 0px;
	height: 0px;
	border: 3px solid green;
}

.xpathor-preview-block-block:after {
	content: attr(xpathor_category) " | " attr(xpathor_priority) !important;
	position: absolute !important;
	right: 2px !important;
	top: 10px !important;
	color: green;
	font-size: 200%;
	font-weight: bold;
	font-family: Tahoma;
	background-color: gold;
	padding: 3px;
	border: 1px solid gold;
	z-index: 99999999;
}

.xpathor-preview-block-block:hover:after {
	content: "" !important;
	position: absolute;
	padding: 0px;
	border: none;
}

.xpathor-preview-block-news {
	position: relative;
	background-color: #33cc33 !important;
}

.xpathor-preview-block-news:hover:after {
	content: attr(xpathor_priority);
	position: absolute;
	right: 0px;
	top: 0px;
	color: green;
	font-family: Tahoma;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 0px;
	background-color: gold;
	line-height: 18px;
	border: 1px solid gold;
	z-index: 99999999;
}

.xpathor-preview.preview-show {
	visibility: visible;
	opacity: 1;
}

.xpathor-preview-news-header {
	text-align: left;
}

.xpathor-preview-news-title {
	font-size: 2em;
	font-color: black;
	font-weight: bold;
}


.xpathor-preview-news-source {
	padding-top: 10px;
}

.xpathor-preview-news-source:before {
	content: "Source: ";
	font-style: italic;
}

.xpathor-preview-news-pubdate {

}

.xpathor-preview-news-pubdate:before {
	content: "Publish Time: ";
	font-style: italic;
}

.xpahtor-preview-news-nextpage {

}

.xpahtor-preview-news-nextpage:before {
	content: "Next Page: ";
	font-style: italic;
}

.xpathor-preview-news-content {
	padding-bottom: 20px;
	padding-right: 10px;
	font-size: 1.3em;
	text-align: left;
	overflow-y: scroll;
}

.xpathor-preview-news-content p {
	text-indent: 2em;
	margin-top: 10px;
}

a.xpathor-boxclose{
    float:right;
    margin-top:-10px;
    margin-right:-30px;
    cursor:pointer;
    color: #fff;
    border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
    font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;       
}

.xpathor-boxclose:before {
    content: "×";
}

.xpathor-dialog {
	position: fixed;
	left: 50%;
	top: 50%;
	min-width: 400px;	
	min-height: 120px;
	margin-top: -200px;
	margin-left: -200px;
	background: -webkit-gradient(linear, left top, right top, from(#dddddd),color-stop(0.25, #cccccc), color-stop(0.5, #dddddd), color-stop(0.75, #cccccc), to(#dddddd));
	z-index: 999999999;
	border-radius: 10px;
	padding: 20px;
	padding-left: 30px;
	padding-right: 0px;
	opacity: 0;
	visibility: hidden;
	transition: opacity 1s, visibility 1s;
	box-shadow: 5px 5px 2px #aaaaaa;
	font-size: 12px !important;
	font-family: 'simsun' !important;
	color: black !important;
	line-height: 20px !important;
	direction: ltr;
	text-indent: 0px !important;
}
.xpathor-dialog.xpathor-dialog-show {
	visibility: visible !important;
	opacity: 1 !important;
}

.xpathor-dialog-select {
	width: 200px !important;
	background: white !important;
	padding: 0px !important;
	margin: 0px !important;
}

.xpathor-selection-block {
	width: 90% !important;
	font-size: 12px !important;
	font-family: 'simsun' !important;
}
.xpathor-selection-block input{
	width: 196px !important;
	height: 20px !important;
	background: white !important;
	padding: 0px !important;
	margin: 0px !important;
}
.xpathor-selection-block.xpathor-category:before {
	content: "Category";
	padding-right: 112px;
}

.xpathor-selection-block.xpathor-headline:before {
	content: "Headline News Priority";
	padding-right: 28px;
}

.xpathor-selection-block.xpathor-normal:before {
	content: "Normal News Priority";
	padding-right: 40px;
}

.xpathor-selection-block.xpathor-block:before {
	content: "Block Xpath";
	padding-right: 94px;
}

.xpathor-selection-block.xpathor-headline-xpath:before {
	content: "Headlien Xpath";
	padding-right: 76px;
}

.xpathor-selection-block.xpathor-news-xpath:before {
	content: "News Xpath";
	padding-right: 100px;
}

.xpathor-selection-buttons {
	margin-top: 20px;
	background: transparent !important;
}

.xpathor-dialog-button {
	width: 80px;
	height: 30px;
	color: black !important;
	background-color: #eeeeee !important;
	border-radius: 5px !important;
	cursor: pointer !important;
	text-align: center !important;
}

.xpathor-dialog-button.confirm {
	float: right;
	margin-right: 40px;
}

.xpathor-preview-news-list {
	padding-bottom: 20px;
	padding-right: 10px;
	font-size: 1.3em;
	overflow-y: scroll;
	color: black;
}

.xpathor-preview-news-list-title {
	width: 70%;
	overflow-x: hidden;
}

.xpathor-preview-news-list-category {
	width: 20%;
}

.xpathor-preview-news-list-priority {
	width: 10%;
}

.xpathor-preview-news-list-table {
	margin: 20px auto;
	width: 90%;
}

.xpathor-preview-buttons {
	float: left;
}

.xpathor-preview-category {
	float: right;
	font-size: 1.6em;
	background-color: gold;
	background: rgba(255, 215, 0, 1.0);
	padding-left: 5px;
	padding-right: 5px;
	z-index: 999999999999;
}

.xpathor-preview-buttons span {
	padding-left: 5px;
	padding-right: 5px;
	font-size: 1.6em;
	cursor: pointer;
	background: rgba(230, 230, 230, 1.0);
}